body {
  padding-top: 70px;
  padding-bottom: 30px;
}


.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background: url('/images/header_background.jpg') no-repeat center center;
  background-size: cover;
}

.navbar {
margin-bottom: 0;
border-radius: 0;}
    
footer {
background-color: #f2f2f2;
padding: 25px;}

/*old below */

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.page-header{
    padding-left: 10px;
    padding-right: 10px;
}
	
#logout-btn {
  display: none;
}


/* show information (registration form)  */
#info1{
  display: none;
}

/* show error (registration form)  */
#error1{
  display: none;
}

/* show user greeting/logout/settings */
#info2{
  color:white;
  
}

/* regitration form */
#new-user {
  display: none;
}

/* login form */
#auth-user {
  padding-top: 50px;
  display: none;
}