a.button-color:link{
	color: #fff;
    background-color: #5bc0de !important;
    border-color: #46b8da;
	margin-left:2px;
	}
	
a.button-color:visited {
    background-color: rgba(91, 168, 222, 0.73) !important;
}


a.button-color:hover {
    background-color: rgba(91, 168, 222, 0.73) !important;
}

a.button-color:active {
    background-color: rgba(91, 168, 222, 0.73) !important;
}


#header span.input-group-btn > button {
	margin-left: 8px !important;
	padding-left: 35px;
    padding-right: 35px;
}
	
	
.glyphicon-map-marker{
	color:rgba(223,51,54,1.00);
}
	
	
#header span.input-group-addon{
	background-color: #45453B;
    border: 1px solid rgba(69, 69, 59, 0.67);
}



.modal-content {
    background-color: #C5C5C5;
    padding-bottom: 30px;
}


#restaurants span.section-icon {

color: #000000;

}