body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.bs-example{
	margin: 20px;
}
	
#logout-btn {
  display: none;
}

/* loging/register buttons */
#buttons{
    padding-top: 10px;
}

/* show information (registration form)  */
#info1{
  display: none;
}

/* show error (registration form)  */
#error1{
  display: none;
}

/* show user greeting/logout/settings */
#info2{
  color:grey;
}

/* regitration form */
#new-user {
  display: none;
}

/* login form */
#auth-user {
  padding-top: 50px;
  display: none;
}